In [25]:
import glob
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import gridspec
import math
import numpy as np
import os
import seaborn as sns
from IPython.display import display, Markdown

pd.options.mode.chained_assignment = None

%matplotlib inline
plt.rcParams["figure.figsize"] = [16, 12]

path = "../output/released"
path2 = "../output/validation/tables"

ethnicity_dict = {
    "True": "White",
    "1": "White",
    "2": "Mixed",
    "3": "Asian",
    "4": "Black",
    "5": "Other",
    np.nan: "Unknown",
    "0": "Unknown",
}

imd_dict = {
    "False": "Unknown",
    "0": "Unknown",
    "1": "1 Most deprived",
    "True": "1 Most deprived",
    "2": "2",
    "3": "3",
    "4": "4",
    "5": "5 Least deprived",
}

### Out-of-range Values

The means for CTV3-calculated and SNOMED-calculated BMI derivations by month were often unexpectedly high, with spikes at particular time points. For instance, the mean SNOMED-calculated BMI was 1.8 million in July 2015. To investigate the extent to which the definitions contained unexpected BMI values, values below 4 and above 200 were counted as out-of-range values. A standard BMI chart shows values from 9 to 65, but we have chosen the end points of implausible extremes. The means of out-of-range values were also computed to gauge the magnitude of the errors.

In [26]:
def display_oob(unit,scale):
    df_ct = pd.read_csv(f"{path}/{unit}.csv", index_col=0)
    df_ct.loc[df_ct["category"] == "population", "sort"] = 1
    
    # Rename subcategories 
    df_ct.loc[df_ct["category"] == "ethnicity", "subcategory"] = df_ct["subcategory"].map(ethnicity_dict)
    df_ct.loc[df_ct["category"] == "imd", "subcategory"] = df_ct["subcategory"].map(imd_dict)
    
    # Clean category
    df_ct["category"] = df_ct["category"].apply(lambda x: x.replace("_", " ").title())
    df_ct["subcategory"] = df_ct["subcategory"].apply(lambda x: x.replace("_", " ").title())
    df_ct.loc[df_ct["category"] == "Imd", "category"] = "IMD"
    
    # Sort 
    df_ct = df_ct.sort_values(
        by=["sort","category","subcategory"]
    ).drop(columns=["sort"]).rename(
        columns={
            "category":"Category",
            "subcategory":"Subcategory"
        }
    ).set_index(["Category","Subcategory"])
    
    df_ct = df_ct.replace("-",np.nan)
    
    # Format column values
    for col in df_ct.columns:
        if "count" in col:
            df_ct[col] = df_ct[col].apply(lambda x: np.nan if pd.isnull(x) else round(float(x)))
            df_ct[col] = df_ct[col].apply(lambda x: np.nan if pd.isnull(x) else "{:,.0f}".format(x))
        if scale == "greater":
            if "mean" in col:
                df_ct[col] = df_ct[col].apply(lambda x: np.nan if pd.isnull(x) else "{:,.0f}".format(float(x)))
        if scale == "less":
            if "mean" in col:
                df_ct[col] = df_ct[col].apply(lambda x: np.nan if pd.isnull(x) else round(float(x),2))
                
                
    df_ct = df_ct.fillna("-")

    df_ct = df_ct.rename(
        columns = {
            "count_derived_bmi":"Composite BMI Count",
            "mean_derived_bmi":"Composite BMI Mean",
            "count_recorded_bmi":"SNOMED-recorded BMI Count",
            "mean_recorded_bmi":"SNOMED-recorded BMI Mean",
            "count_computed_bmi":"SNOMED-calculated BMI Count",
            "mean_computed_bmi":"SNOMED-calculated BMI Mean",
            "count_backend_computed_bmi":"CTV3-calculated BMI Count",
            "mean_backend_computed_bmi":"CTV3-calculated BMI Mean",
        }                       
    )
    df_ct.to_csv(f"../output/released/made_locally/local_{unit}.csv")    
    display(df_ct)

In [27]:
display_oob("greater_than_max","greater")

                                             Composite BMI Count  \
Category            Subcategory
Population          All                                  123,265
Age Band            18-29                                 26,580
                    30-39                                 23,820
                    40-49                                 18,790
                    50-59                                 15,710
                    60-69                                 14,800
                    70-79                                 12,805
                    80+                                   10,760
                    Missing                                    -
Dementia            False                                122,475
                    True                                     790
Diabetes            False                                110,465
                    True                                  12,800
Ethnicity           Asian                                  5,475
                    Black                                  2,255
                    Mixed                                  1,240
                    Other                                  1,835
                    White                                 73,445
IMD                 1 Most Deprived                       24,120
                    2                                     24,220
                    3                                     25,975
                    4                                     24,550
                    5 Least Deprived                      22,425
                    Unknown                                1,980
Learning Disability False                                122,715
                    True                                     550
Region              East                                  19,390
                    East Midlands                         14,015
                    London                                 4,880
                    North East                             4,130
                    North West                             8,665
                    South East                             5,420
                    South West                            14,420
                    West Midlands                          3,910
                    Yorkshire And The Humber               8,865
Sex                 F                                     73,550
                    M                                     49,715

                                             Composite BMI Mean  \
Category            Subcategory
Population          All                              13,811,688
Age Band            18-29                               376,774
                    30-39                               189,554
                    40-49                            89,137,730
                    50-59                               213,431
                    60-69                               276,182
                    70-79                               245,619
                    80+                                 214,397
                    Missing                                   -
Dementia            False                            13,897,094
                    True                                554,244
Diabetes            False                            15,380,610
                    True                                274,133
Ethnicity           Asian                               278,168
                    Black                               199,885
                    Mixed                               185,749
                    Other                               732,953
                    White                               272,094
IMD                 1 Most Deprived                  41,724,052
                    2                                   208,891
                    3                                26,210,838
                    4                                   230,649
                    5 Least Deprived                    192,640
                    Unknown                             192,624
Learning Disability False                            13,872,441
                    True                                206,940
Region              East                                250,321
                    East Midlands                       538,688
                    London                              152,286
                    North East                          182,469
                    North West                        3,686,784
                    South East                          184,231
                    South West                      113,970,607
                    West Midlands                       191,183
                    Yorkshire And The Humber            196,313
Sex                 F                                 9,373,644
                    M                                20,377,034

                                             SNOMED-recorded BMI Count  \
Category            Subcategory
Population          All                                          8,250
Age Band            18-29                                        3,460
                    30-39                                        1,715
                    40-49                                          950
                    50-59                                          750
                    60-69                                          585
                    70-79                                          380
                    80+                                            410
                    Missing                                          -
Dementia            False                                        8,180
                    True                                            70
Diabetes            False                                        7,375
                    True                                           880
Ethnicity           Asian                                          655
                    Black                                          345
                    Mixed                                          240
                    Other                                          295
                    White                                        5,825
IMD                 1 Most Deprived                              1,480
                    2                                            1,740
                    3                                            1,740
                    4                                            1,620
                    5 Least Deprived                             1,310
                    Unknown                                        360
Learning Disability False                                        8,200
                    True                                            55
Region              East                                         1,395
                    East Midlands                                  790
                    London                                         920
                    North East                                     210
                    North West                                     445
                    South East                                     530
                    South West                                     875
                    West Midlands                                  460
                    Yorkshire And The Humber                       670
Sex                 F                                            5,260
                    M                                            2,990

                                             SNOMED-recorded BMI Mean  \
Category            Subcategory
Population          All                                       812,168
Age Band            18-29                                   1,586,504
                    30-39                                     180,555
                    40-49                                     192,588
                    50-59                                     199,504
                    60-69                                     189,942
                    70-79                                     206,865
                    80+                                       924,416
                    Missing                                         -
Dementia            False                                     780,682
                    True                                    4,389,271
Diabetes            False                                     843,047
                    True                                      552,826
Ethnicity           Asian                                     139,389
                    Black                                     183,179
                    Mixed                                     196,475
                    Other                                     179,347
                    White                                   1,079,526
IMD                 1 Most Deprived                           401,322
                    2                                         200,570
                    3                                       2,946,128
                    4                                         198,837
                    5 Least Deprived                          178,764
                    Unknown                                   211,471
Learning Disability False                                     816,178
                    True                                      191,760
Region              East                                      211,708
                    East Midlands                           6,231,398
                    London                                    183,272
                    North East                                188,384
                    North West                                199,523
                    South East                                195,620
                    South West                                197,791
                    West Midlands                             209,013
                    Yorkshire And The Humber                  184,014
Sex                 F                                       1,112,992
                    M                                         283,313

                                             CTV3-calculated BMI Count  \
Category            Subcategory
Population          All                                        127,620
Age Band            18-29                                       21,125
                    30-39                                       22,395
                    40-49                                       19,490
                    50-59                                       17,595
                    60-69                                       17,615
                    70-79                                       16,585
                    80+                                         12,815
                    Missing                                          -
Dementia            False                                      126,770
                    True                                           850
Diabetes            False                                      106,020
                    True                                        21,600
Ethnicity           Asian                                        5,580
                    Black                                        2,270
                    Mixed                                        1,280
                    Other                                        1,725
                    White                                       77,130
IMD                 1 Most Deprived                             25,200
                    2                                           25,345
                    3                                           26,940
                    4                                           25,210
                    5 Least Deprived                            22,920
                    Unknown                                      2,005
Learning Disability False                                      126,970
                    True                                           650
Region              East                                        19,460
                    East Midlands                               14,675
                    London                                       4,940
                    North East                                   4,155
                    North West                                   9,235
                    South East                                   5,590
                    South West                                  17,385
                    West Midlands                                4,040
                    Yorkshire And The Humber                     9,385
Sex                 F                                           75,780
                    M                                           51,840

                                             CTV3-calculated BMI Mean  \
Category            Subcategory
Population          All                                   167,655,907
Age Band            18-29                                     161,195
                    30-39                                  38,584,597
                    40-49                                 193,697,274
                    50-59                                 231,337,470
                    60-69                                 356,421,777
                    70-79                                 336,145,003
                    80+                                    64,774,618
                    Missing                                         -
Dementia            False                                 168,777,428
                    True                                      195,607
Diabetes            False                                 169,433,206
                    True                                  158,939,854
Ethnicity           Asian                                     173,377
                    Black                                     215,872
                    Mixed                                     195,746
                    Other                                     770,047
                    White                                  55,264,846
IMD                 1 Most Deprived                       427,220,153
                    2                                     305,493,683
                    3                                      55,608,005
                    4                                         200,747
                    5 Least Deprived                          202,880
                    Unknown                               687,682,985
Learning Disability False                                 168,511,613
                    True                                      247,762
Region              East                                      226,096
                    East Midlands                             222,298
                    London                                    152,300
                    North East                                194,840
                    North West                              4,219,088
                    South East                                187,153
                    South West                            746,460,635
                    West Midlands                             188,130
                    Yorkshire And The Humber                  208,677
Sex                 F                                     110,544,643
                    M                                     251,144,112

                                             SNOMED-calculated BMI Count  \
Category            Subcategory
Population          All                                          127,675
Age Band            18-29                                         21,105
                    30-39                                         22,395
                    40-49                                         19,505
                    50-59                                         17,605
                    60-69                                         17,650
                    70-79                                         16,585
                    80+                                           12,830
                    Missing                                            -
Dementia            False                                        126,825
                    True                                             850
Diabetes            False                                        106,050
                    True                                          21,625
Ethnicity           Asian                                          5,590
                    Black                                          2,270
                    Mixed                                          1,280
                    Other                                          1,725
                    White                                         77,170
IMD                 1 Most Deprived                               25,190
                    2                                             25,340
                    3                                             26,960
                    4                                             25,265
                    5 Least Deprived                              22,920
                    Unknown                                        2,005
Learning Disability False                                        127,030
                    True                                             650
Region              East                                          19,490
                    East Midlands                                 14,735
                    London                                         4,940
                    North East                                     4,150
                    North West                                     9,235
                    South East                                     5,580
                    South West                                    17,370
                    West Midlands                                  4,035
                    Yorkshire And The Humber                       9,385
Sex                 F                                             75,800
                    M                                             51,875

                                             SNOMED-calculated BMI Mean
Category            Subcategory
Population          All                                     167,578,597
Age Band            18-29                                       161,198
                    30-39                                    38,581,260
                    40-49                                   193,528,729
                    50-59                                   231,193,047
                    60-69                                   355,735,737
                    70-79                                   336,124,778
                    80+                                      64,714,312
                    Missing                                           -
Dementia            False                                   168,701,735
                    True                                        195,605
Diabetes            False                                   169,380,610
                    True                                    158,749,105
Ethnicity           Asian                                       173,618
                    Black                                       215,812
                    Mixed                                       196,285
                    Other                                       770,894

In [28]:
display_oob("less_than_min","less")

                                             Composite BMI Count  \
Category            Subcategory
Population          All                                  149,830
Age Band            18-29                                 34,745
                    30-39                                 29,180
                    40-49                                 21,510
                    50-59                                 19,365
                    60-69                                 18,125
                    70-79                                 15,440
                    80+                                   11,475
                    Missing                                    -
Dementia            False                                149,220
                    True                                     610
Diabetes            False                                131,520
                    True                                  18,310
Ethnicity           Asian                                  6,980
                    Black                                  2,250
                    Mixed                                  1,450
                    Other                                  1,590
                    White                                 83,160
IMD                 1 Most Deprived                       29,430
                    2                                     29,330
                    3                                     31,210
                    4                                     29,495
                    5 Least Deprived                      27,615
                    Unknown                                2,750
Learning Disability False                                148,880
                    True                                     950
Region              East                                  24,185
                    East Midlands                         19,980
                    London                                 5,545
                    North East                             5,400
                    North West                             9,280
                    South East                             8,380
                    South West                            19,490
                    West Midlands                          4,250
                    Yorkshire And The Humber              14,150
Sex                 F                                     88,370
                    M                                     61,460

                                             Composite BMI Mean  \
Category            Subcategory
Population          All                                    1.23
Age Band            18-29                                  1.56
                    30-39                                  1.51
                    40-49                                  1.33
                    50-59                                   0.5
                    60-69                                  1.37
                    70-79                                  1.18
                    80+                                    0.46
                    Missing                                   -
Dementia            False                                  1.23
                    True                                   1.36
Diabetes            False                                  1.24
                    True                                   1.19
Ethnicity           Asian                                  1.18
                    Black                                  1.22
                    Mixed                                  1.48
                    Other                                  1.21
                    White                                  1.32
IMD                 1 Most Deprived                        1.21
                    2                                      1.15
                    3                                      1.07
                    4                                      1.33
                    5 Least Deprived                       1.39
                    Unknown                                1.73
Learning Disability False                                  1.23
                    True                                   1.46
Region              East                                   1.35
                    East Midlands                          1.19
                    London                                 1.49
                    North East                             1.62
                    North West                             1.51
                    South East                             1.46
                    South West                             1.26
                    West Midlands                          1.38
                    Yorkshire And The Humber               1.52
Sex                 F                                      1.18
                    M                                      1.31

                                             SNOMED-recorded BMI Count  \
Category            Subcategory
Population          All                                        110,505
Age Band            18-29                                       25,255
                    30-39                                       19,455
                    40-49                                       16,180
                    50-59                                       15,330
                    60-69                                       14,370
                    70-79                                       12,050
                    80+                                          7,865
                    Missing                                          -
Dementia            False                                      110,075
                    True                                           425
Diabetes            False                                       95,510
                    True                                        14,995
Ethnicity           Asian                                        4,070
                    Black                                        1,575
                    Mixed                                        1,000
                    Other                                        1,055
                    White                                       61,885
IMD                 1 Most Deprived                             21,260
                    2                                           21,490
                    3                                           23,390
                    4                                           22,425
                    5 Least Deprived                            20,035
                    Unknown                                      1,900
Learning Disability False                                      109,735
                    True                                           770
Region              East                                        17,420
                    East Midlands                               13,520
                    London                                       4,075
                    North East                                   3,970
                    North West                                   7,125
                    South East                                   6,650
                    South West                                  15,730
                    West Midlands                                2,970
                    Yorkshire And The Humber                    11,540
Sex                 F                                           60,275
                    M                                           50,225

                                             SNOMED-recorded BMI Mean  \
Category            Subcategory
Population          All                                           1.9
Age Band            18-29                                        2.08
                    30-39                                         1.9
                    40-49                                         1.8
                    50-59                                        1.75
                    60-69                                        1.78
                    70-79                                        1.89
                    80+                                          2.01
                    Missing                                         -
Dementia            False                                        1.89
                    True                                         1.92
Diabetes            False                                        1.93
                    True                                          1.7
Ethnicity           Asian                                        1.78
                    Black                                        1.76
                    Mixed                                         2.0
                    Other                                        1.62
                    White                                        1.99
IMD                 1 Most Deprived                              1.81
                    2                                            1.84
                    3                                            1.91
                    4                                            1.95
                    5 Least Deprived                             1.94
                    Unknown                                      2.17
Learning Disability False                                         1.9
                    True                                         1.78
Region              East                                         1.94
                    East Midlands                                1.94
                    London                                       1.84
                    North East                                   2.07
                    North West                                   1.88
                    South East                                   1.79
                    South West                                   1.98
                    West Midlands                                1.93
                    Yorkshire And The Humber                      1.8
Sex                 F                                            1.87
                    M                                            1.92

                                             CTV3-calculated BMI Count  \
Category            Subcategory
Population          All                                        145,955
Age Band            18-29                                       26,280
                    30-39                                       26,990
                    40-49                                       21,950
                    50-59                                       20,505
                    60-69                                       19,430
                    70-79                                       17,820
                    80+                                         12,985
                    Missing                                          -
Dementia            False                                      145,360
                    True                                           595
Diabetes            False                                      126,120
                    True                                        19,840
Ethnicity           Asian                                        6,955
                    Black                                        1,965
                    Mixed                                        1,240
                    Other                                        1,415
                    White                                       79,570
IMD                 1 Most Deprived                             30,595
                    2                                           27,990
                    3                                           30,430
                    4                                           28,340
                    5 Least Deprived                            26,175
                    Unknown                                      2,425
Learning Disability False                                      145,130
                    True                                           830
Region              East                                        21,385
                    East Midlands                               22,140
                    London                                       4,700
                    North East                                   5,425
                    North West                                   9,735
                    South East                                   6,205
                    South West                                  17,705
                    West Midlands                                3,890
                    Yorkshire And The Humber                    13,810
Sex                 F                                           82,785
                    M                                           63,175

                                             CTV3-calculated BMI Mean  \
Category            Subcategory
Population          All                                          0.78
Age Band            18-29                                        1.36
                    30-39                                        1.18
                    40-49                                        1.06
                    50-59                                        0.25
                    60-69                                         0.7
                    70-79                                        0.23
                    80+                                          0.01
                    Missing                                         -
Dementia            False                                        0.78
                    True                                          1.2
Diabetes            False                                        0.92
                    True                                        -0.09
Ethnicity           Asian                                       -0.54
                    Black                                         1.2
                    Mixed                                        1.39
                    Other                                       -1.68
                    White                                        1.06
IMD                 1 Most Deprived                              0.43
                    2                                            0.55
                    3                                            0.87
                    4                                            0.88
                    5 Least Deprived                             1.14
                    Unknown                                      1.64
Learning Disability False                                        0.78
                    True                                         1.34
Region              East                                         1.17
                    East Midlands                                0.63
                    London                                       0.56
                    North East                                   1.33
                    North West                                   0.79
                    South East                                   1.54
                    South West                                   0.76
                    West Midlands                                1.19
                    Yorkshire And The Humber                     1.05
Sex                 F                                            0.85
                    M                                            0.69

                                             SNOMED-calculated BMI Count  \
Category            Subcategory
Population          All                                          152,620
Age Band            18-29                                         27,370
                    30-39                                         28,025
                    40-49                                         23,100
                    50-59                                         21,435
                    60-69                                         20,330
                    70-79                                         18,570
                    80+                                           13,790
                    Missing                                            -
Dementia            False                                        151,975
                    True                                             645
Diabetes            False                                        131,985
                    True                                          20,635
Ethnicity           Asian                                          7,260
                    Black                                          2,035
                    Mixed                                          1,290
                    Other                                          1,460
                    White                                         83,050
IMD                 1 Most Deprived                               32,185
                    2                                             29,365
                    3                                             31,770
                    4                                             29,550
                    5 Least Deprived                              27,260
                    Unknown                                        2,485
Learning Disability False                                        151,750
                    True                                             870
Region              East                                          22,410
                    East Midlands                                 23,255
                    London                                         4,810
                    North East                                     5,660
                    North West                                    10,150
                    South East                                     6,400
                    South West                                    18,055
                    West Midlands                                  4,045
                    Yorkshire And The Humber                      14,495
Sex                 F                                             87,230
                    M                                             65,390

                                             SNOMED-calculated BMI Mean
Category            Subcategory
Population          All                                            0.47
Age Band            18-29                                          1.29
                    30-39                                          1.01
                    40-49                                          0.72
                    50-59                                          0.21
                    60-69                                          0.66
                    70-79                                          -0.5
                    80+                                           -1.22
                    Missing                                           -
Dementia            False                                          0.47
                    True                                           1.11
Diabetes            False                                          0.54
                    True                                           0.05
Ethnicity           Asian                                         -0.53
                    Black                                          1.14
                    Mixed                                          1.32
                    Other                                         -1.64