In [8]:
import pandas as pd
from IPython.display import display

pd.set_option('display.max_rows', 500)
pd.options.mode.chained_assignment = None

In [6]:
### CONFIGURE ###
covariates = ['age_band','sex','ethnicity','region','imd','dementia','diabetes','hypertension','learning_disability']
count_columns = ['recorded_bmi_count',
       'weight_snomed_count', 'weight_backend_count', 'height_snomed_count',
       'height_backend_count']
aggregates = ['min','median','mean','max','std']

# Count of BMI-related events
## Count per patient

In [7]:
df_patient_counts = pd.read_feather(f'../output/data/input_eventcounts.feather')
df_patient_counts[count_columns].describe()

,recorded_bmi_count,weight_snomed_count,weight_backend_count,height_snomed_count,height_backend_count
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,3.281000,3.261000,3.195000,3.089000,3.369000
std,3.844062,3.802807,3.875306,3.831679,3.939843
min,-7.000000,-8.000000,-6.000000,-9.000000,-7.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,2.000000,2.000000,2.000000,3.000000
75%,6.000000,6.000000,6.000000,6.000000,6.000000
max,17.000000,18.000000,16.000000,17.000000,20.000000

In [20]:
for cov in covariates:
    display(df_patient_counts.groupby(cov)[count_columns].agg(aggregates))

         recorded_bmi_count                      weight_snomed_count         \
                        min median      mean max                 min median
age_band
50-59                    -5    2.0  2.880000  15                  -3      1
0-19                     -1    3.5  3.761905  17                  -1      2
20-29                    -3    2.0  3.664062  16                  -5      3
70-79                    -4    3.0  3.172131  13                  -8      5
40-49                    -7    3.0  3.504348  14                  -6      2
30-39                    -7    2.0  2.888889  13                  -3      2
80+                      -1    3.0  3.472603  14                  -3      2
60-69                    -5    1.0  2.834711  15                  -5      2

                       weight_backend_count                       \
              mean max                  min median      mean max
age_band
50-59     2.560000  12                   -2      3  3.896000  16
0-19      3.230159  13                   -5      1  2.761905  13
20-29     3.468750  13                   -5      2  3.445312  15
70-79     4.040984  18                   -5      3  3.401639  12
40-49     2.982609  13                   -5      1  3.313043  13
30-39     3.179487  13                   -6      2  3.538462  16
80+       3.458904  17                   -5      1  2.726027  14
60-69     3.115702  17                   -5      1  2.570248  13

         height_snomed_count                      height_backend_count         \
                         min median      mean max                  min median
age_band
50-59                     -4      2  3.176000  17                   -4      2
0-19                      -5      3  3.603175  14                   -7      2
20-29                     -3      2  2.945312  14                   -4      3
70-79                     -6      3  3.483607  12                   -1      3
40-49                     -8      0  2.173913  11                   -2      3
30-39                     -9      2  2.829060  14                   -5      3
80+                       -6      3  3.287671  13                   -5      3
60-69                     -5      2  3.099174  14                   -4      1


              mean max
age_band
50-59     3.040000  13
0-19      3.063492  15
20-29     3.500000  16
70-79     3.311475  20
40-49     3.704348  15
30-39     3.709402  18
80+       3.643836  14
60-69     2.966942  12

    recorded_bmi_count                      weight_snomed_count         \
                   min median      mean max                 min median
sex
F                   -7      2  3.014315  17                  -5      3
M                   -7      3  3.536204  16                  -8      2

                  weight_backend_count                       \
         mean max                  min median      mean max
sex
F    3.302658  18                   -6      2  3.126789  16
M    3.221135  14                   -5      2  3.260274  16

    height_snomed_count                      height_backend_count         \
                    min median      mean max                  min median
sex
F                    -6      2  2.916155  17                   -5      2
M                    -9      2  3.254403  14                   -7      3


         mean max
sex
F    3.269939  20
M    3.463796  18

          recorded_bmi_count                      weight_snomed_count         \
                         min median      mean max                 min median
ethnicity
1                         -7    3.0  3.320000  17                  -5    2.0
2                         -5    3.0  3.502058  16                  -8    2.0
4                         -7    2.5  3.100000  13                  -3    3.0
3                         -6    1.5  2.583333  12                  -3    3.5
5                         -4    4.0  4.000000  14                  -5    2.0

                        weight_backend_count                       \
               mean max                  min median      mean max
ethnicity
1          3.272381  18                   -6    2.0  3.049524  16
2          3.045267  13                   -5    2.0  3.370370  16
4          3.516667  11                   -5    2.5  3.416667  12
3          3.575758  17                   -4    2.0  3.424242  16
5          3.000000  13                   -4    1.5  2.950000  10

          height_snomed_count                      height_backend_count  \
                          min median      mean max                  min
ethnicity
1                          -9    2.0  3.030476  17                   -5
2                          -5    2.0  3.127572  12                   -7
4                          -6    3.0  3.050000   9                   -3
3                          -5    3.0  3.469697  14                   -4
5                          -8    1.5  2.425000  14                   -4


          median      mean max
ethnicity
1            3.0  3.464762  15
2            2.0  3.349794  20
4            3.5  3.733333  14
3            1.0  2.856061  14
5            3.5  3.375000  10

                         recorded_bmi_count                       \
                                        min median      mean max
region
East Midlands                            -6    3.0  3.089552  10
North West                               -3    3.0  3.454545  17
London                                   -5    3.0  3.360544  15
North East                               -1    1.0  3.183099  15
South East                               -4    2.0  2.879699  13
Yorkshire and the Humber                 -2    3.0  4.084746  16
East of England                          -2    3.0  3.294118  14
West Midlands                            -3    2.5  2.928571  12

                         weight_snomed_count                       \
                                         min median      mean max
region
East Midlands                             -8    4.0  3.477612  11
North West                                -5    1.5  2.954545  12
London                                    -6    2.0  3.312925  14
North East                                -1    4.0  4.183099  13
South East                                -3    3.0  3.466165  17
Yorkshire and the Humber                  -1    2.0  2.932203  14
East of England                           -2    3.0  3.901961  18
West Midlands                             -4    0.0  2.625000  11

                         weight_backend_count                       \
                                          min median      mean max
region
East Midlands                              -1    3.0  4.044776  16
North West                                 -3    1.0  2.848485  13
London                                     -4    1.0  2.959184  12
North East                                 -1    3.0  3.422535  11
South East                                 -5    2.0  3.015038  16
Yorkshire and the Humber                   -5    2.0  3.576271  12
East of England                            -5    1.0  2.549020  15
West Midlands                               0    1.5  3.339286  12

                         height_snomed_count                       \
                                         min median      mean max
region
East Midlands                             -9      3  3.597015  14
North West                                -5      3  3.181818  12
London                                    -5      2  3.006803  12
North East                                -8      1  2.943662  14
South East                                -5      1  2.609023  14
Yorkshire and the Humber                  -3      2  3.474576  14
East of England                           -2      2  2.450980  10
West Midlands                             -5      3  3.464286  11

                         height_backend_count
                                          min median      mean max
region
East Midlands                              -7      2  2.388060  11
North West                                 -4      3  3.878788  15
London                                     -5      2  2.959184  13
North East                                 -4      1  2.760563  12
South East                                 -4      3  3.729323  20
Yorkshire and the Humber                   -5      2  3.169492  16
East of England                            -1      2  3.411765  15
West Midlands                              -3      3  3.857143  14

    recorded_bmi_count                      weight_snomed_count         \
                   min median      mean max                 min median
imd
1                   -7      2  3.050847  16                  -5    3.0
3                   -4      3  3.422330  14                  -5    1.5
4                   -5      2  3.284946  17                  -6    2.0
5                   -5      3  3.282209  15                  -4    3.0
2                   -5      3  3.363636  15                  -8    2.0
0                    0      3  4.000000  12                  -2    0.0

                  weight_backend_count                       \
         mean max                  min median      mean max
imd
1    3.419492  14                   -5    2.5  3.381356  14
3    3.077670  18                   -5    0.0  2.650485  16
4    3.053763  13                   -4    3.0  3.467742  14
5    3.699387  13                   -2    2.0  3.233129  16
2    3.202020  14                   -6    2.0  3.196970  16
0    1.363636   5                   -1    6.0  4.181818  12

    height_snomed_count                      height_backend_count         \
                    min median      mean max                  min median
imd
1                    -6      2  3.161017  17                   -4      2
3                    -5      2  2.985437  14                   -4      3
4                    -8      3  3.188172  13                   -7      3
5                    -9      2  3.312883  14                   -5      2
2                    -5      1  2.888889  14                   -4      2
0                     0      0  2.090909   8                    0      4


         mean max
imd
1    3.199153  15
3    3.650485  20
4    3.607527  13
5    3.386503  15
2    3.055556  16
0    3.090909   7

         recorded_bmi_count                      weight_snomed_count         \
                        min median      mean max                 min median
dementia
False                    -7    2.5  3.268687  17                  -8    2.0
True                      0    4.5  4.500000   9                   0    0.5

                       weight_backend_count                       \
              mean max                  min median      mean max
dementia
False     3.259596  18                   -6      2  3.176768  16
True      3.400000  12                    0      5  5.000000   9

         height_snomed_count                      height_backend_count         \
                         min median      mean max                  min median
dementia
False                     -9    2.0  3.106061  17                   -7    3.0
True                      -5    0.5  1.400000   8                    0    1.5


              mean max
dementia
False     3.373737  20
True      2.900000   9

         recorded_bmi_count                      weight_snomed_count         \
                        min median      mean max                 min median
diabetes
False                    -7    3.0  3.289899  17                  -8      2
True                     -2    0.5  2.400000   9                   0      1

                       weight_backend_count                       \
              mean max                  min median      mean max
diabetes
False     3.266667  18                   -6    2.0  3.181818  16
True      2.700000   8                   -3    3.5  4.500000  12

         height_snomed_count                      height_backend_count         \
                         min median      mean max                  min median
diabetes
False                     -9    2.0  3.076768  17                   -7      3
True                       0    4.5  4.300000  11                   -2      1


              mean max
diabetes
False     3.379798  20
True      2.300000   8

             recorded_bmi_count                      weight_snomed_count  \
                            min median      mean max                 min
hypertension
False                        -7      3  3.285859  17                  -8
True                         -7      3  2.800000  12                   0

                                  weight_backend_count                       \
             median      mean max                  min median      mean max
hypertension
False             2  3.270707  18                   -6      2  3.206061  16
True              0  2.300000  10                   -2      0  2.100000  12

             height_snomed_count                      height_backend_count  \
                             min median      mean max                  min
hypertension
False                         -9    2.0  3.082828  17                   -7
True                           0    2.5  3.700000  14                   -4


             median      mean max
hypertension
False             3  3.366667  20
True              5  3.600000   8

                    recorded_bmi_count                       \
                                   min median      mean max
learning_disability
False                               -7      3  3.307071  17
True                                -7      0  0.700000   7

                    weight_snomed_count                       \
                                    min median      mean max
learning_disability
False                                -8    2.0  3.266667  18
True                                  0    1.5  2.700000   8

                    weight_backend_count                      \
                                     min median     mean max
learning_disability
False                                 -6    2.0  3.19899  16
True                                   0    1.5  2.80000  11

                    height_snomed_count                       \
                                    min median      mean max
learning_disability
False                                -9      2  3.082828  17
True                                  0      2  3.700000  12

                    height_backend_count
                                     min median      mean max
learning_disability
False                                 -7    3.0  3.353535  20
True                                  -4    5.5  4.900000  12